#
# Copyright 2014, General Dynamics C4 Systems
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(GD_GPL)
#

config HAVE_ARCH_TIMER
    bool
    default y


config RISCV_SV48
    prompt "RISCV Sv48 Paging Mode"
    bool
    default n
    help
        Choose whether to use Sv39 or Sv48 paging modes.

choice
    prompt "IPC Buffer location"
    default IPC_BUF_IN_RISCV_TP_REGISTER
    depends on ARCH_RISCV
    help
        Controls how the location of the IPC buffer is
        provided to the user

    config IPC_BUF_IN_RISCV_TP_REGISTER
        bool "TP register"
        default y
        help
            Put the address of the IPC buffer in the user
            readable/writeable TP register. When enabled
            this has the result of the kernel overwriting
            any value the user writes to this register.
endchoice
